@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo a Clínica Buck</h1>

    <p>sidgjsidgsdigjDFHPASIDGNSAPODGSDOFJASOPDFHASIUFHhdsiufhsdg
        sdgisdgishdgsiadghasd
        gasdighsdighasd
        gsadg
        sadgasdg
        as
        dgas
        dg
        asdgasdgasdahsdhasdhsdhosdfoisadfóasidjvsdjsd
        gasoidgsiodgs
        sdigosdgsidgsoidgnsadgasdg
        asidgnsoidghsidhgoisdfjsoidfjsdifjsiodjfsoajdf
    </p>
    
</div>
